/* header */
.header {
	font-size:0;
	line-height: 40px;
	position: fixed;
	z-index: 999;
	top: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

/* header logo */
.header__logo {
	float:left;
}
.header__logo-link {
	display:inline-block;
	color:#fff;
	font-size: 18px;
	font-weight: bold;
	width: 148px;
	vertical-align: middle;
	text-indent: 50px;
	background: url('../img/logo.png') left center no-repeat;
}
.header__logo-link:hover {
	color: #f00;
}

/* header navigation */
.header__nav {
	position: relative;
	float: right;
	height: 40px;
}
.header__nav__item {
	display:inline-block;
	color:#fff;
	font-size: 14px;
	height: 40px;
	padding: 0 20px;
}
.header__nav__item_custom_button {
	margin: 0 20px;
	text-align: center;
	border-radius: 4px;
	background-color: #f00;
}
.header__nav__item_custom_button:hover {
	background-color: #e00;
}
.header__nav__tip {
	position: absolute;
	top: 38px;
	left: 20px;
	width: 56px;
	height: 2px;
	background-color: #f00;
}

/* screen 1 */
.screen-1 {
	position: relative;
	width: 100%;
	height: 640px;
	background-image: url('../img/sc1.jpg');
}
.screen-1__wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}
.screen-1__heading {
	margin-bottom: 32px;
	/*opacity: 0;*/
}
.screen-1__subheading {
	/*opacity: 0;*/
}

/* screen 2 */
.screen-2 {
	position: relative;
	width: 100%;
	height: 640px;
	background-color: #f3f5f7;
}
.screen-2__background {
	position: absolute;
	width: 100%;
	height: 380px;
	background: url('../img/sc2.png') center bottom no-repeat;
}
.screen-2__background-2 {
	position: absolute;
	width: 100%;
	height: 380px;
	background: url('../img/sc2-2.png') 59.3% 43.5% no-repeat;
}
.screen-2__background-1 {
	position: absolute;
	width: 100%;
	height: 380px;
	background: url('../img/sc2-1.png') center bottom no-repeat;
}
.screen-2__wrap {
	width: 1200px;
	margin: 0 auto;
	padding: 52px 0 26px 0;
	text-align: center;
}
.screen-2__heading {
	padding: 36px 0;
}
.screen-2__separator {
	display: inline-block;
	width: 50px;
	height: 3px;
	margin-bottom: 20px;
	background-color: #f00;
}
.screen-2__subheading {
	line-height: 22px;
}

/* screen 3 */
.screen-3 {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 640px;
	background-color: #2b333b;
}
.screen-3__background {
	position: absolute;
	right: 52%;
	width: 570px;
	height: 630px;
	padding: 5px 0;
	/*opacity: 0;*/
	background: url('../img/sc3.png') left center/contain no-repeat content-box;
}
.screen-3__wrap-1,
.screen-3__wrap-2 {
	font-size: 0;
	position: absolute;
	width: 520px;
	margin: 0 auto;
	/*opacity: 0;*/
}
.screen-3__wrap-1 {
	top: 225px;
	/*left: 100%;*/
	text-align: left;
	color: #fff;
}
.screen-3__separator {
	margin: 32px 0 23px;
	background-color: #f00;
}
.screen-3__subheading {
	line-height: 22px;
}
.screen-3__wrap-2 {
	bottom: 50px;
	left: 53%;
}
.screen-3__wrap-2__item {
	font-size: 10px;
	font-weight: bold;
	line-height: 58px;
	display: inline-block;
	width: 58px;
	height: 58px;
	margin: 160px 18px 45px;
	text-align: center;
	border: 5px solid;
	border-radius: 50%;
}
.screen-3__wrap-2__item-1 {
	color: #2294ff;
	border-color: #1f5975;
}
.screen-3__wrap-2__item-2 {
	color: #7888fd;
	border-color: #424d76;
}
.screen-3__wrap-2__item-3 {
	color: #af333b;
	border-color: #6b4146;
}
.screen-3__wrap-2__item-4 {
	color: #22c7da;
	border-color: #29535f;
}
.screen-3__wrap-2__item-5 {
	color: #66b056;
	border-color: #3e4e40;
}

/* screen 4 */
.screen-4 {
	width: 100%;
	height: 640px;
	background-color: #f3f5f7;
}
.screen-4__wrap {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.screen-4__heading {
	padding: 88px 0 36px;
	/*opacity: 0;*/
}
.screen-4__separator {
	display: inline-block;
	width: 50px;
	height: 3px;
	margin-bottom: 20px;
	/*opacity: 0;*/
	background-color: #f00;
}
.screen-4__subheading {
	/*opacity: 0;*/
}
.screen-4__item {
	display: inline-block;
	width: 200px;
	margin: 77px auto 232px;
	padding: 100px 0 0;
	vertical-align: middle;
	/*opacity: 0;*/
}
.screen-4__item-1 {
	background: url('../img/sc4-1.png') center top no-repeat;
}
.screen-4__item-2 {
	background: url('../img/sc4-2.png') center top no-repeat;
}
.screen-4__item-3 {
	background: url('../img/sc4-3.png') center top no-repeat;
}
.screen-4__item-4 {
	background: url('../img/sc4-4.png') center top no-repeat;
}

/* screen 5 */
.screen-5 {
	width: 100%;
	height: 640px;
	background-image: url('../img/sc5.jpg');
}
.screen-5__background {
	height: 200px;
	padding-top: 100px;
	/*opacity: 0;*/
	background: url('../img/sc5-1.png') center bottom no-repeat;
}

.screen-5__wrap {
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
	padding: 60px 0 160px;
	text-align: center;
	color: #fff;
}

.screen-5__heading,
.screen-5__subheading {
	/*opacity: 0;*/
}

.screen-5__separator {
	display: inline-block;
	width: 50px;
	height: 3px;
	margin: 30px auto;
	/*opacity: 0;*/
	background-color: #fff;
}

/* other */
.other {
	background-color: #fff;
}

.other__link {
	font-size: 18px;
	line-height: 58px;
	display: block;
	width: 238px;
	height: 58px;
	margin: 70px auto;
	text-align: center;
	color: #000;
	border: 1px solid #707070;
	border-radius: 2px;
}

.other__link:hover {
	color: #f00;
}

/* footer */
.footer {
	width: 100%;
	padding: 26px 0;
	background-color: #000;
}

/* footer navigation */
.footer__nav {
	width: 1200px;
	margin: 0 auto;
	font-size:0;
	text-align: center;
}

.footer__nav__item {
	display:inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 6px 18px;
	color: #ccc;
}

.footer__nav__item:hover {
	color: #f00;
}

.footer__nav__item-copyright {
	font-size: 16px;
	line-height: 18px;
	color: #888;
}

/* navigation on the right */
.outline {
	position: fixed;
	top: 50%;
	right: 0;
	padding: 5px 0;
	transform: translateY(-50%);
	background-color: #fff;
	box-shadow: 0 1px 2px 1px #dedede;
}

.outline__item {
	display: block;
	margin: 10px 15px;
	color: #000;
}

.outline__item:hover {
	color: #f00;
}
